/* Collapsible Trigger */
.collapsible__trigger {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2) 0;
  font-weight: 500;
  color: var(--color-fg);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all var(--duration-normal) var(--ease-in-out);
}

.collapsible__trigger:hover {
  text-decoration: underline;
}

.collapsible__trigger[data-panel-open] > svg {
  transform: rotate(180deg);
}

/* Collapsible Panel */
.collapsible__panel {
  overflow: hidden;
  font-size: var(--text-sm);
  color: var(--color-fg);
  transition: height var(--duration-normal) var(--ease-in-out),
              opacity var(--duration-normal) var(--ease-in-out);
}

.collapsible__panel[data-open] {
  animation: collapsibleDown var(--duration-normal) var(--ease-in-out);
}

.collapsible__panel[data-closed] {
  animation: collapsibleUp var(--duration-normal) var(--ease-in-out);
}

/* Animations */
@keyframes collapsibleDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--collapsible-panel-height);
    opacity: 1;
  }
}

@keyframes collapsibleUp {
  from {
    height: var(--collapsible-panel-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
