.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.hstack {
  display: flex;
  flex-direction: row;
  gap: var(--space-3);
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
